/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}



.cuadro {
    padding: 50px 0%;
    margin: 10px;
	height: 90%;
    background-color: beige;
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;

}



/* Color Principal:

Azul Océano: #2980b9


Colores Análogos (colores cercanos en el círculo cromático):
Azul Cielo: #3498db
Azul Verdoso: #287271


Color Complementario (el color opuesto en el círculo cromático):
Naranja Rojizo: #b94e29


Colores Neutros:
Gris Claro: #ecf0f1
Gris Oscuro: #2c3e50


Colores Adicionales:
Verde Mar: #16a085
Rojo Coral: #e74c3c */
